<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>LevelDB Uer Interface</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

    <link rel="stylesheet" href="../assets/css/index.css">
    
  </head>
  <body>
    <el-container id="app">
      <!-- Header -->
      <el-header>
        <el-row 
        type="flex" 
        justify="center"
        class="margin-top-5px">
          <el-col class="childs-center" :span="24" >
            <h2>LevelDB User Interface</h2>
          </el-col>
        </el-row>
      </el-header>

      <!-- Content -->
      <el-container>
        <!-- DB info panel -->
        <el-aside>
          <el-row >
            <el-col class="childs-center margin-top-5px" :span="24" >
              <h3>DB Setting</h3>
            </el-col>
            <el-col class="margin-top-5px" :span="24">
              <div>
                <el-input
                placeholder="default = $CURRENT_DIR/DB"
                v-model="db.path"
                @change='open()'>
                  <template slot="prepend">PATH</template>
                </el-input>
              </div>
            </el-col>
            <el-col class="margin-top-5px" :span="24">
              <div>
                <el-input
                placeholder="default = 'default'"
                v-model="db.name"
                @change='open()'>
                  <template slot="prepend">NAME</template>
                </el-input>
              </div>
            </el-col>
            <el-col class="margin-top-5px" :span="24">
              <div>
                <el-button 
                @click="readKeys()"
                type="text">
                read keys
                </el-button>
              </div>
            </el-col>
            <el-col class="margin-top-5px" :span="24">
                <el-tag
                type="success">
                  {{db.total}} records found
                </el-tag>
            </el-col>
            <el-col class="margin-top-5px" :span="24">
                <el-tag 
                v-for="(v,i) in db.keys"
                :key="i"
                type="info">
                  {{v}}
                </el-tag>
            </el-col>
          </el-row>
        </el-aside>

        <!-- DB operation panel -->
        <el-main>
          <el-row 
          class="margin-top-5px">
            <el-col :span="6">
              <div>
                <el-input 
                placeholder="请输入内容" 
                v-model="data.Key">
                  <template slot="prepend">KEY</template>
                </el-input>
              </div>
            </el-col>
            <el-col class="childs-center" :span="6">
              <el-button 
              class="block"
              type="success"
              :disabled="
              data.Key==''||
              data.Value==''||
              db.name==''"
              @click="put()">
              put
              </el-button>
            </el-col>
            <el-col class="childs-center" :span="6">
              <el-button 
              class="block"
              @click="get()"
              :disabled="
              data.Key==''||
              db.name==''"
              type="primary">
              get
              </el-button>
            </el-col>
            <el-col class="childs-center" :span="6">
              <el-button 
              class="block"
              @click="del()"
              :disabled="
              data.Key==''||
              db.name==''"
              type="danger">
              delete
              </el-button>
            </el-col>
          </el-row>
          <el-row 
          class="margin-top-5px">
            <!-- info printing -->
            <el-col :span="12">
              <div 
              class="terminal info">
                <span class="inline-block">
                  &nbsp;
                  <i class="el-icon-info"></i>
                  Response List
                </span>
                <span class="inline-block">
                  <el-button 
                  @click="clearHistory()"
                  type="text">
                  clear
                  </el-button>
                </span>
              </div>
              <div
              class="terminal"
              style="height:512px;">
                <p 
                :class="v.type"
                v-for='(v, i) in res'>[{{i}}][{{v.type}}] {{v.msg}}</p>
              </div>
            </el-col>
            <!-- value editing -->
            <el-col :span="12">
              <div 
              class="terminal info">
                <span class="inline-block">
                    &nbsp;
                    <i class="el-icon-edit"></i>
                    Value Edit
                </span>
                <span class="inline-block">
                  <el-button 
                  @click="clearValue()"
                  type="text">
                  clear
                  </el-button>
                </span>
              </div>
              <el-input
              style="height:512px;"
              type="textarea"
              placeholder="data can be edited here"
              :rows="24"
              v-model="data.Value">
              </el-input>
            </el-col>
          </el-row>
        </el-main>

      </el-container>

      <!-- Footer -->
      <el-footer>
        <el-row 
        type="flex" 
        justify="center"
        class="margin-top-5px">
        <el-col class="childs-center" :span="24" >
        <h6>Copyright @FDU.BlockChain.Lab 2018</h6>
        </el-col>
        </el-row>
      </el-footer>
    </el-container>

    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
    <script src="./index.js"></script>
  </body>
</html>
