.margin-top-5px{
    margin-top: 5px;
}
.childs-center{
    text-align: center;
}
.terminal{
    background-color: black;
    /* color: chartreuse; */
    font-family: monospace;
    overflow-y: scroll;
}
.info{
    color: chartreuse;
}
.warn{
    color: chocolate
}
.error{
    color: darkred
}
.block{
    margin-left: 2%;
    margin-right: 2%;
    display: block;
    width:96%;
}
.inline-block{
    display: inline-block;
}
